/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
app/release.keystore
**/*.keystore
**/*.jks
KEYSTORE_CREDENTIALS.local.txt
