# Node API
api/node_modules/
api/.env

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android Studio / IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Generated mobile build artifacts
android/.gradle/
android/app/build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
