openapi: 3.0.3
info:
  title: CanlıFal Backend API
  version: "v1"
  description: |
    CanlıFal web + Flutter ortak backend API sözleşmesi.
    Bu dosya üretim kaynak kodundan otomatik çıkarılmıştır (tarama tarihi 2026-09-12).
    Uydurulmuş uç nokta YOKTUR. Kaynaktan doğrulanamayan yanıt gövdeleri
    "MISSING: response schema not verified in source" olarak işaretlenmiştir.
servers:
  - url: https://canlifal.com
    description: Üretim
  - url: https://canlifal.com/api/v1
    description: Sürümlü takma ad (middleware /api/v1/* -> /api/* rewrite)
tags:
  - name: "[...unmatched]"
  - name: "activities"
  - name: "admin"
  - name: "ads"
  - name: "agency"
  - name: "animations"
  - name: "announcements"
  - name: "anonymous"
  - name: "astrology-panel"
  - name: "auth"
  - name: "avatar-accessories"
  - name: "bana-ozel"
  - name: "billing"
  - name: "blog"
  - name: "bootstrap"
  - name: "broadcast-images"
  - name: "cache"
  - name: "cfc-arena"
  - name: "chat"
  - name: "chat-bubbles"
  - name: "compatibility"
  - name: "config"
  - name: "contact"
  - name: "credit-packages"
  - name: "cron"
  - name: "currency-branding"
  - name: "daily-login"
  - name: "daily-missions"
  - name: "deeplink"
  - name: "devices"
  - name: "dream-contest"
  - name: "dream-diary"
  - name: "dream-stats"
  - name: "dream-symbols"
  - name: "dreams"
  - name: "effects"
  - name: "emoji-packs"
  - name: "entrance-effects"
  - name: "favorite-tellers"
  - name: "football"
  - name: "fortune-access"
  - name: "fortune-request-types"
  - name: "fortune-tellers"
  - name: "fortunes"
  - name: "games"
  - name: "gift-box"
  - name: "gift-engine"
  - name: "gifts"
  - name: "hashtags"
  - name: "health"
  - name: "homepage-buttons"
  - name: "homepage-fortune-cards"
  - name: "homepage-ticker"
  - name: "horoscope"
  - name: "jeton"
  - name: "leaderboards"
  - name: "legal"
  - name: "live"
  - name: "me"
  - name: "membership"
  - name: "membership-badges"
  - name: "memberships"
  - name: "messages"
  - name: "mic-frames"
  - name: "mobile"
  - name: "monitoring"
  - name: "music"
  - name: "name-effects"
  - name: "notifications"
  - name: "online-fal"
  - name: "payments"
  - name: "pk"
  - name: "platform"
  - name: "popups"
  - name: "presence"
  - name: "profile-frames"
  - name: "public"
  - name: "public-stats"
  - name: "referral"
  - name: "refunds"
  - name: "room"
  - name: "room-themes"
  - name: "rtc"
  - name: "search"
  - name: "seo-settings"
  - name: "settings"
  - name: "share-card"
  - name: "short-videos"
  - name: "signup"
  - name: "site-pages"
  - name: "social"
  - name: "stories"
  - name: "support"
  - name: "supporter-levels"
  - name: "teams"
  - name: "teller"
  - name: "teller-chat"
  - name: "tencent"
  - name: "tiktok-videos"
  - name: "tmdb"
  - name: "tournaments"
  - name: "translations"
  - name: "trend-videos"
  - name: "trends"
  - name: "trtc"
  - name: "upload"
  - name: "user"
  - name: "users"
  - name: "verification"
  - name: "video-streams"
  - name: "vip"
  - name: "wallet"
  - name: "warmup"
  - name: "weekly-dream-report"
  - name: "withdrawals"
  - name: "youtube"
components:
  securitySchemes:
    mobileJwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Mobil JWT. Authorization: Bearer <accessToken>. Kaynak lib/mobile-auth.ts"
    webSession:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: "Web tarayici oturum cerezi. Flutter bunu KULLANMAZ."
  schemas:
    ErrorPlain:
      type: object
      properties:
        error: { type: string }
    ErrorWrapped:
      type: object
      properties:
        success: { type: boolean, example: false }
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
    ConfirmationRequired:
      type: object
      description: "§88 kritik işlem onayı — istemci aynı gövdeyi confirm:true ile tekrar gönderir."
      properties:
        requiresConfirmation: { type: boolean, example: true }
        confirmationMessage: { type: string }
        action: { type: string }
  responses:
    Unauthorized:
      description: Oturum yok / token geçersiz
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorPlain" }
    Forbidden:
      description: Yetki yok
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorPlain" }
    NotFound:
      description: Kayıt bulunamadı
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorPlain" }
    Conflict:
      description: Çakışma veya onay gerekli
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ConfirmationRequired" }
    TooManyRequests:
      description: Hız sınırı aşıldı
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorPlain" }
    ServerError:
      description: Sunucu hatası
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorPlain" }
paths:
  "/api/{...unmatched}":
    parameters:
      - name: unmatched
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: ["[...unmatched]"]
      operationId: "delete__api_____unmatched_"
      summary: "Kaynak: app/api/[...unmatched]/route.ts"
      description: |
        Kaynak dosya: `app/api/[...unmatched]/route.ts`
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    get:
      tags: ["[...unmatched]"]
      operationId: "get__api_____unmatched_"
      summary: "Kaynak: app/api/[...unmatched]/route.ts"
      description: |
        Kaynak dosya: `app/api/[...unmatched]/route.ts`
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: ["[...unmatched]"]
      operationId: "patch__api_____unmatched_"
      summary: "Kaynak: app/api/[...unmatched]/route.ts"
      description: |
        Kaynak dosya: `app/api/[...unmatched]/route.ts`
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["[...unmatched]"]
      operationId: "post__api_____unmatched_"
      summary: "Kaynak: app/api/[...unmatched]/route.ts"
      description: |
        Kaynak dosya: `app/api/[...unmatched]/route.ts`
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    put:
      tags: ["[...unmatched]"]
      operationId: "put__api_____unmatched_"
      summary: "Kaynak: app/api/[...unmatched]/route.ts"
      description: |
        Kaynak dosya: `app/api/[...unmatched]/route.ts`
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/activities":
    get:
      tags: ["activities"]
      operationId: "get__api_activities"
      summary: "Kaynak: app/api/activities/route.ts"
      description: |
        Kaynak dosya: `app/api/activities/route.ts`
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/activity-feed":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_activity_feed"
      summary: "Kaynak: app/api/admin/activity-feed/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/activity-feed/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_activity_feed"
      summary: "Kaynak: app/api/admin/activity-feed/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/activity-feed/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isEnabled: {}
                maxItems: {}
                specificUserIds: {}
                visibleToAdmin: {}
                visibleToBasic: {}
                visibleToDiamond: {}
                visibleToGold: {}
                visibleToGuests: {}
                visibleToModerator: {}
                visibleToPremium: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/ad-networks":
    delete:
      tags: ["admin"]
      operationId: "delete__api_admin_ad_networks"
      summary: "Kaynak: app/api/admin/ad-networks/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/ad-networks/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                adCode: {}
                adUnitId: {}
                appId: {}
                id: {}
                isActive: {}
                name: {}
                provider: {}
                sortOrder: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    get:
      tags: ["admin"]
      operationId: "get__api_admin_ad_networks"
      summary: "Kaynak: app/api/admin/ad-networks/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/ad-networks/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_ad_networks"
      summary: "Kaynak: app/api/admin/ad-networks/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/ad-networks/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                adCode: {}
                adUnitId: {}
                appId: {}
                id: {}
                isActive: {}
                name: {}
                provider: {}
                sortOrder: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/ad-placements":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_ad_placements"
      summary: "Kaynak: app/api/admin/ad-placements/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/ad-placements/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_ad_placements"
      summary: "Kaynak: app/api/admin/ad-placements/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/ad-placements/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action: {}
                adNetworkId: {}
                customCode: {}
                description: {}
                frequencyCap: {}
                position: {}
                sortOrder: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/ad-placements/{id}":
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: ["admin"]
      operationId: "delete__api_admin_ad_placements__id_"
      summary: "Kaynak: app/api/admin/ad-placements/[id]/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/ad-placements/[id]/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                adNetworkId: {}
                adType: {}
                customCode: {}
                description: {}
                frequencyCap: {}
                isActive: {}
                name: {}
                platform: {}
                position: {}
                resetStats: {}
                sortOrder: {}
                targeting: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    get:
      tags: ["admin"]
      operationId: "get__api_admin_ad_placements__id_"
      summary: "Kaynak: app/api/admin/ad-placements/[id]/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/ad-placements/[id]/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: ["admin"]
      operationId: "patch__api_admin_ad_placements__id_"
      summary: "Kaynak: app/api/admin/ad-placements/[id]/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/ad-placements/[id]/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                adNetworkId: {}
                adType: {}
                customCode: {}
                description: {}
                frequencyCap: {}
                isActive: {}
                name: {}
                platform: {}
                position: {}
                resetStats: {}
                sortOrder: {}
                targeting: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/ad-placements/stats":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_ad_placements_stats"
      summary: "Kaynak: app/api/admin/ad-placements/stats/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/ad-placements/stats/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/agencies":
    delete:
      tags: ["admin"]
      operationId: "delete__api_admin_agencies"
      summary: "Kaynak: app/api/admin/agencies/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/agencies/route.ts`
        Özellikler: audit, admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action: {}
                agencyId: {}
                commissionRate: {}
                contactEmail: {}
                contactPhone: {}
                description: {}
                fromAgencyId: {}
                logoUrl: {}
                name: {}
                newOwnerId: {}
                ownerId: {}
                ownerName: {}
                role: {}
                toAgencyId: {}
                userId: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    get:
      tags: ["admin"]
      operationId: "get__api_admin_agencies"
      summary: "Kaynak: app/api/admin/agencies/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/agencies/route.ts`
        Özellikler: audit, admin
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: ["admin"]
      operationId: "patch__api_admin_agencies"
      summary: "Kaynak: app/api/admin/agencies/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/agencies/route.ts`
        Özellikler: audit, admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action: {}
                agencyId: {}
                commissionRate: {}
                contactEmail: {}
                contactPhone: {}
                description: {}
                fromAgencyId: {}
                logoUrl: {}
                name: {}
                newOwnerId: {}
                ownerId: {}
                ownerName: {}
                role: {}
                toAgencyId: {}
                userId: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_agencies"
      summary: "Kaynak: app/api/admin/agencies/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/agencies/route.ts`
        Özellikler: audit, admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action: {}
                agencyId: {}
                commissionRate: {}
                contactEmail: {}
                contactPhone: {}
                description: {}
                fromAgencyId: {}
                logoUrl: {}
                name: {}
                newOwnerId: {}
                ownerId: {}
                ownerName: {}
                role: {}
                toAgencyId: {}
                userId: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/agencies/{agencyId}/commission":
    parameters:
      - name: agencyId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: ["admin"]
      operationId: "get__api_admin_agencies__agencyId__commission"
      summary: "Kaynak: app/api/admin/agencies/[agencyId]/commission/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/agencies/[agencyId]/commission/route.ts`
        Özellikler: audit, admin
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    put:
      tags: ["admin"]
      operationId: "put__api_admin_agencies__agencyId__commission"
      summary: "Kaynak: app/api/admin/agencies/[agencyId]/commission/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/agencies/[agencyId]/commission/route.ts`
        Özellikler: audit, admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                baseCommissionRate: {}
                rules: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/agencies/{agencyId}/wallet":
    parameters:
      - name: agencyId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: ["admin"]
      operationId: "get__api_admin_agencies__agencyId__wallet"
      summary: "Kaynak: app/api/admin/agencies/[agencyId]/wallet/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/agencies/[agencyId]/wallet/route.ts`
        Özellikler: idempotent, audit, criticalConfirm, admin
        MISSING: response schema not verified in source
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: string }
        - name: page
          in: query
          required: false
          schema: { type: string }
        - name: type
          in: query
          required: false
          schema: { type: string }
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_agencies__agencyId__wallet"
      summary: "Kaynak: app/api/admin/agencies/[agencyId]/wallet/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/agencies/[agencyId]/wallet/route.ts`
        Özellikler: idempotent, audit, criticalConfirm, admin
        MISSING: response schema not verified in source
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: string }
        - name: page
          in: query
          required: false
          schema: { type: string }
        - name: type
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action: {}
                amount: {}
                confirm: {}
                idempotencyKey: {}
                jetonAmount: {}
                level: {}
                reason: {}
                tlAmount: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/agency-applicant-config":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_agency_applicant_config"
      summary: "Kaynak: app/api/admin/agency-applicant-config/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/agency-applicant-config/route.ts`
        Özellikler: audit, admin
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    put:
      tags: ["admin"]
      operationId: "put__api_admin_agency_applicant_config"
      summary: "Kaynak: app/api/admin/agency-applicant-config/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/agency-applicant-config/route.ts`
        Özellikler: audit, admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                weights: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/agency-finance":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_agency_finance"
      summary: "Kaynak: app/api/admin/agency-finance/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/agency-finance/route.ts`
        Özellikler: audit, admin
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    put:
      tags: ["admin"]
      operationId: "put__api_admin_agency_finance"
      summary: "Kaynak: app/api/admin/agency-finance/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/agency-finance/route.ts`
        Özellikler: audit, admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bonus_rules: {}
                global_commission_rules: {}
                settings: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/animations":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_animations"
      summary: "Kaynak: app/api/admin/animations/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: category
          in: query
          required: false
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: string }
        - name: membership
          in: query
          required: false
          schema: { type: string }
        - name: offset
          in: query
          required: false
          schema: { type: string }
        - name: q
          in: query
          required: false
          schema: { type: string }
        - name: status
          in: query
          required: false
          schema: { type: string }
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_animations"
      summary: "Kaynak: app/api/admin/animations/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: category
          in: query
          required: false
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: string }
        - name: membership
          in: query
          required: false
          schema: { type: string }
        - name: offset
          in: query
          required: false
          schema: { type: string }
        - name: q
          in: query
          required: false
          schema: { type: string }
        - name: status
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: {}
                slug: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/animations/{id}":
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: ["admin"]
      operationId: "delete__api_admin_animations__id_"
      summary: "Kaynak: app/api/admin/animations/[id]/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/[id]/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    get:
      tags: ["admin"]
      operationId: "get__api_admin_animations__id_"
      summary: "Kaynak: app/api/admin/animations/[id]/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/[id]/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: ["admin"]
      operationId: "patch__api_admin_animations__id_"
      summary: "Kaynak: app/api/admin/animations/[id]/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/[id]/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/animations/assignments":
    delete:
      tags: ["admin"]
      operationId: "delete__api_admin_animations_assignments"
      summary: "Kaynak: app/api/admin/animations/assignments/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/assignments/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: animationId
          in: query
          required: false
          schema: { type: string }
        - name: category
          in: query
          required: false
          schema: { type: string }
        - name: id
          in: query
          required: false
          schema: { type: string }
        - name: onlyActive
          in: query
          required: false
          schema: { type: string }
        - name: userId
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignmentType: {}
                context: {}
                duration: {}
                endDate: {}
                isActive: {}
                note: {}
                priority: {}
                startDate: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    get:
      tags: ["admin"]
      operationId: "get__api_admin_animations_assignments"
      summary: "Kaynak: app/api/admin/animations/assignments/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/assignments/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: animationId
          in: query
          required: false
          schema: { type: string }
        - name: category
          in: query
          required: false
          schema: { type: string }
        - name: id
          in: query
          required: false
          schema: { type: string }
        - name: onlyActive
          in: query
          required: false
          schema: { type: string }
        - name: userId
          in: query
          required: false
          schema: { type: string }
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: ["admin"]
      operationId: "patch__api_admin_animations_assignments"
      summary: "Kaynak: app/api/admin/animations/assignments/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/assignments/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: animationId
          in: query
          required: false
          schema: { type: string }
        - name: category
          in: query
          required: false
          schema: { type: string }
        - name: id
          in: query
          required: false
          schema: { type: string }
        - name: onlyActive
          in: query
          required: false
          schema: { type: string }
        - name: userId
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignmentType: {}
                context: {}
                duration: {}
                endDate: {}
                isActive: {}
                note: {}
                priority: {}
                startDate: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_animations_assignments"
      summary: "Kaynak: app/api/admin/animations/assignments/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/assignments/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: animationId
          in: query
          required: false
          schema: { type: string }
        - name: category
          in: query
          required: false
          schema: { type: string }
        - name: id
          in: query
          required: false
          schema: { type: string }
        - name: onlyActive
          in: query
          required: false
          schema: { type: string }
        - name: userId
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignmentType: {}
                context: {}
                duration: {}
                endDate: {}
                isActive: {}
                note: {}
                priority: {}
                startDate: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/animations/membership-defaults":
    delete:
      tags: ["admin"]
      operationId: "delete__api_admin_animations_membership_defaults"
      summary: "Kaynak: app/api/admin/animations/membership-defaults/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/membership-defaults/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isActive: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    get:
      tags: ["admin"]
      operationId: "get__api_admin_animations_membership_defaults"
      summary: "Kaynak: app/api/admin/animations/membership-defaults/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/membership-defaults/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_animations_membership_defaults"
      summary: "Kaynak: app/api/admin/animations/membership-defaults/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/membership-defaults/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isActive: {}
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/animations/stats":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_animations_stats"
      summary: "Kaynak: app/api/admin/animations/stats/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/animations/stats/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/announcement-sections":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_announcement_sections"
      summary: "Kaynak: app/api/admin/announcement-sections/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/announcement-sections/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_announcement_sections"
      summary: "Kaynak: app/api/admin/announcement-sections/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/announcement-sections/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryConfig: {}
                categoryKey: {}
                categorySettings: {}
                giftAnnouncementSettings: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/audit-logs":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_audit_logs"
      summary: "Kaynak: app/api/admin/audit-logs/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/audit-logs/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: action
          in: query
          required: false
          schema: { type: string }
        - name: actorId
          in: query
          required: false
          schema: { type: string }
        - name: cursor
          in: query
          required: false
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: string }
        - name: targetType
          in: query
          required: false
          schema: { type: string }
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/avatar-accessories":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_avatar_accessories"
      summary: "Kaynak: app/api/admin/avatar-accessories/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/avatar-accessories/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: []
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/awards":
    delete:
      tags: ["admin"]
      operationId: "delete__api_admin_awards"
      summary: "Kaynak: app/api/admin/awards/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/awards/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                awardType: {}
                endDate: {}
                startDate: {}
                tellerId: {}
                title: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    get:
      tags: ["admin"]
      operationId: "get__api_admin_awards"
      summary: "Kaynak: app/api/admin/awards/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/awards/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_awards"
      summary: "Kaynak: app/api/admin/awards/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/awards/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                awardType: {}
                endDate: {}
                startDate: {}
                tellerId: {}
                title: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/backup":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_backup"
      summary: "Kaynak: app/api/admin/backup/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/backup/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: table
          in: query
          required: false
          schema: { type: string }
        - name: type
          in: query
          required: false
          schema: { type: string }
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/badges":
    delete:
      tags: ["admin"]
      operationId: "delete__api_admin_badges"
      summary: "Kaynak: app/api/admin/badges/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/badges/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bgColor: {}
                color: {}
                description: {}
                icon: {}
                id: {}
                isActive: {}
                name: {}
                sortOrder: {}
                tier: {}
                userId: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    get:
      tags: ["admin"]
      operationId: "get__api_admin_badges"
      summary: "Kaynak: app/api/admin/badges/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/badges/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_badges"
      summary: "Kaynak: app/api/admin/badges/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/badges/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bgColor: {}
                color: {}
                description: {}
                icon: {}
                id: {}
                isActive: {}
                name: {}
                sortOrder: {}
                tier: {}
                userId: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    put:
      tags: ["admin"]
      operationId: "put__api_admin_badges"
      summary: "Kaynak: app/api/admin/badges/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/badges/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bgColor: {}
                color: {}
                description: {}
                icon: {}
                id: {}
                isActive: {}
                name: {}
                sortOrder: {}
                tier: {}
                userId: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/bana-ozel":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_bana_ozel"
      summary: "Kaynak: app/api/admin/bana-ozel/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bana-ozel/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: ["admin"]
      operationId: "patch__api_admin_bana_ozel"
      summary: "Kaynak: app/api/admin/bana-ozel/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bana-ozel/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category: {}
                icon: {}
                id: {}
                jetonCost: {}
                nameEn: {}
                nameTr: {}
                slug: {}
                sortOrder: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_bana_ozel"
      summary: "Kaynak: app/api/admin/bana-ozel/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bana-ozel/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category: {}
                icon: {}
                id: {}
                jetonCost: {}
                nameEn: {}
                nameTr: {}
                slug: {}
                sortOrder: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_blog"
      summary: "Kaynak: app/api/admin/blog/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_blog"
      summary: "Kaynak: app/api/admin/blog/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                authorName: {}
                category: {}
                contentEn: {}
                contentTr: {}
                coverImage: {}
                descEn: {}
                descTr: {}
                isAiGenerated: {}
                isEditorPick: {}
                isFeatured: {}
                isPremium: {}
                isPublished: {}
                isTrending: {}
                keywords: {}
                metaDescription: {}
                publishedAt: {}
                readTime: {}
                scheduledAt: {}
                slug: {}
                titleEn: {}
                titleTr: {}
                zodiacSign: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog/{postId}":
    parameters:
      - name: postId
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: ["admin"]
      operationId: "delete__api_admin_blog__postId_"
      summary: "Kaynak: app/api/admin/blog/[postId]/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/[postId]/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                authorName: {}
                category: {}
                contentEn: {}
                contentTr: {}
                coverImage: {}
                descEn: {}
                descTr: {}
                isAiGenerated: {}
                isEditorPick: {}
                isFeatured: {}
                isPremium: {}
                isPublished: {}
                isTrending: {}
                keywords: {}
                metaDescription: {}
                publishedAt: {}
                readTime: {}
                scheduledAt: {}
                slug: {}
                titleEn: {}
                titleTr: {}
                zodiacSign: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: ["admin"]
      operationId: "patch__api_admin_blog__postId_"
      summary: "Kaynak: app/api/admin/blog/[postId]/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/[postId]/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                authorName: {}
                category: {}
                contentEn: {}
                contentTr: {}
                coverImage: {}
                descEn: {}
                descTr: {}
                isAiGenerated: {}
                isEditorPick: {}
                isFeatured: {}
                isPremium: {}
                isPublished: {}
                isTrending: {}
                keywords: {}
                metaDescription: {}
                publishedAt: {}
                readTime: {}
                scheduledAt: {}
                slug: {}
                titleEn: {}
                titleTr: {}
                zodiacSign: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    put:
      tags: ["admin"]
      operationId: "put__api_admin_blog__postId_"
      summary: "Kaynak: app/api/admin/blog/[postId]/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/[postId]/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                authorName: {}
                category: {}
                contentEn: {}
                contentTr: {}
                coverImage: {}
                descEn: {}
                descTr: {}
                isAiGenerated: {}
                isEditorPick: {}
                isFeatured: {}
                isPremium: {}
                isPublished: {}
                isTrending: {}
                keywords: {}
                metaDescription: {}
                publishedAt: {}
                readTime: {}
                scheduledAt: {}
                slug: {}
                titleEn: {}
                titleTr: {}
                zodiacSign: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog/analytics":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_blog_analytics"
      summary: "Kaynak: app/api/admin/blog/analytics/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/analytics/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog/bulk-category":
    patch:
      tags: ["admin"]
      operationId: "patch__api_admin_blog_bulk_category"
      summary: "Kaynak: app/api/admin/blog/bulk-category/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/bulk-category/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category: {}
                postIds: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog/bulk-delete":
    post:
      tags: ["admin"]
      operationId: "post__api_admin_blog_bulk_delete"
      summary: "Kaynak: app/api/admin/blog/bulk-delete/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/bulk-delete/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                postIds: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog/bulk-generate":
    post:
      tags: ["admin"]
      operationId: "post__api_admin_blog_bulk_generate"
      summary: "Kaynak: app/api/admin/blog/bulk-generate/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/bulk-generate/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                autoPublish: {}
                category: {}
                topics: {}
                zodiacSign: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog/bulk-import":
    post:
      tags: ["admin"]
      operationId: "post__api_admin_blog_bulk_import"
      summary: "Kaynak: app/api/admin/blog/bulk-import/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/bulk-import/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog/bulk-publish":
    patch:
      tags: ["admin"]
      operationId: "patch__api_admin_blog_bulk_publish"
      summary: "Kaynak: app/api/admin/blog/bulk-publish/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/bulk-publish/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isPublished: {}
                postIds: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog/categories":
    delete:
      tags: ["admin"]
      operationId: "delete__api_admin_blog_categories"
      summary: "Kaynak: app/api/admin/blog/categories/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/categories/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nameEn: {}
                nameTr: {}
                slug: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    get:
      tags: ["admin"]
      operationId: "get__api_admin_blog_categories"
      summary: "Kaynak: app/api/admin/blog/categories/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/categories/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_blog_categories"
      summary: "Kaynak: app/api/admin/blog/categories/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/categories/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nameEn: {}
                nameTr: {}
                slug: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog/comments":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_blog_comments"
      summary: "Kaynak: app/api/admin/blog/comments/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/comments/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: string }
        - name: page
          in: query
          required: false
          schema: { type: string }
        - name: status
          in: query
          required: false
          schema: { type: string }
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: ["admin"]
      operationId: "patch__api_admin_blog_comments"
      summary: "Kaynak: app/api/admin/blog/comments/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/comments/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: string }
        - name: page
          in: query
          required: false
          schema: { type: string }
        - name: status
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action: {}
                commentId: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog/generate":
    post:
      tags: ["admin"]
      operationId: "post__api_admin_blog_generate"
      summary: "Kaynak: app/api/admin/blog/generate/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/generate/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keywords: {}
                mode: {}
                title: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog/import":
    post:
      tags: ["admin"]
      operationId: "post__api_admin_blog_import"
      summary: "Kaynak: app/api/admin/blog/import/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/import/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/blog/schedule-publish":
    post:
      tags: ["admin"]
      operationId: "post__api_admin_blog_schedule_publish"
      summary: "Kaynak: app/api/admin/blog/schedule-publish/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/blog/schedule-publish/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/bots":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_bots"
      summary: "Kaynak: app/api/admin/bots/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bots/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: active
          in: query
          required: false
          schema: { type: string }
        - name: personality
          in: query
          required: false
          schema: { type: string }
        - name: search
          in: query
          required: false
          schema: { type: string }
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    patch:
      tags: ["admin"]
      operationId: "patch__api_admin_bots"
      summary: "Kaynak: app/api/admin/bots/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bots/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: active
          in: query
          required: false
          schema: { type: string }
        - name: personality
          in: query
          required: false
          schema: { type: string }
        - name: search
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action: {}
                activityLevel: {}
                botIds: {}
                isActive: {}
                personality: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/bots/simulate":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_bots_simulate"
      summary: "Kaynak: app/api/admin/bots/simulate/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bots/simulate/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_bots_simulate"
      summary: "Kaynak: app/api/admin/bots/simulate/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bots/simulate/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action: {}
                roomId: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/bots/simulate-fortune":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_bots_simulate_fortune"
      summary: "Kaynak: app/api/admin/bots/simulate-fortune/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bots/simulate-fortune/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_bots_simulate_fortune"
      summary: "Kaynak: app/api/admin/bots/simulate-fortune/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bots/simulate-fortune/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/bots/simulate-master":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_bots_simulate_master"
      summary: "Kaynak: app/api/admin/bots/simulate-master/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bots/simulate-master/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_bots_simulate_master"
      summary: "Kaynak: app/api/admin/bots/simulate-master/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bots/simulate-master/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/bots/simulate-social":
    get:
      tags: ["admin"]
      operationId: "get__api_admin_bots_simulate_social"
      summary: "Kaynak: app/api/admin/bots/simulate-social/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bots/simulate-social/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
    post:
      tags: ["admin"]
      operationId: "post__api_admin_bots_simulate_social"
      summary: "Kaynak: app/api/admin/bots/simulate-social/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/bots/simulate-social/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/ServerError" }
  "/api/admin/broadcast-images":
    delete:
      tags: ["admin"]
      operationId: "delete__api_admin_broadcast_images"
      summary: "Kaynak: app/api/admin/broadcast-images/route.ts"
      description: |
        Kaynak dosya: `app/api/admin/broadcast-images/route.ts`
        Özellikler: admin
        MISSING: response schema not verified in source
      parameters:
        - name: id
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: {}
                imageUrl: {}
                isActive: {}
                name: {}
                sortOrder: {}
      security: [{ mobileJwt: [] }]
      responses:
        "200":
          description: "Başarılı — MISSING: response schema not verified in source"
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
[...]
